# database
POSTGRES_PASSWORD=dfvdrgdrdrbg457y4695hgoi5rg
POSTGRES_USER=example-user
POSTGRES_DB=database-name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# broker
RABBITMQ_DEFAULT_USER=brokeruser
RABBITMQ_DEFAULT_PASS=brokerpassword
RABBITMQ_DEFAULT_HOST=localhost
RABBITMQ_DEFAULT_PORT=5672

# cache
MEMCACHED_HOST=localhost
MEMCACHED_PORT=11211


# app
SECRET_KEY=django
DEBUG=true
ALLOWED_HOSTS=localhost;127.0.0.1
