{% extends 'base.html' %}

{% block main_content %}

<!--
<a href="/currency/rate/create/">Create Rate</a>

  <button onclick="location.href='{% url 'currency:rate-create' %}';">Create Rate</button>
-->
<br>

<table class="table table-striped" border="3">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Path</th>
        <th scope="col">Counter</th>
        <th scope="col">Method</th>
        <th scope="col">Status Code</th>
    </tr>
    </thead>
    <tbody>
    {%for rate in object_list%}
    <tr>
        <td scope="row">{{ rate.id }}</td>
        <td scope="row">{{ rate.path }}</td>
        <td scope="row">{{ rate.counter }}</td>
        <td scope="row">{{ rate.get_request_method_display }}</td>
        <td scope="row">{{ rate.status }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock main_content %}
