<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<button onclick="location.href='/currency/contactus/create/';">Create Contact</button>

<table border="3">
  <thead>
    <tr align="center">
      <th>ID</th>
      <th>EmailFrom</th>
      <th>Subject</th>
      <th>Message</th>
      <th>Details</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {%for contactus in object%}
    <tr>
      <td>{{ contactus.id }}</td>
      <td>{{ contactus.email_from }}</td>
      <td>{{ contactus.subject }}</td>
      <td>{{ contactus.message }}</td>
      <td><a href="/currency/contactus/details/{{ contactus.id }}/">Details</a></td>
      <td><a href="/currency/contactus/update/{{ contactus.id }}/">Edit</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>

</body>
</html>