{% extends 'base.html' %}

{% block main_content %}
  <table border="5">
    <tr align="center">
      <td>
        <button onclick="location.href='{% url 'currency:rate-list' %}';">Rate List</button>
      </td>
    </tr>
    <tr align="center">
      <td>
        <button onclick="location.href='{% url 'currency:source-list' %}';">Source List</button>
      </td>
    </tr>
    <tr align="center">
      <td>
        <button onclick="location.href='{% url 'currency:contactus-list' %}';">ContactUs List</button>
      </td>
    </tr>
    <tr align="center">
      <td>
        <button onclick="location.href='{% url 'admin:index' %}';">A D M I N</button>
      </td>
    </tr>
  </table>
{% endblock main_content %}
