{% extends 'base.html' %}

{% block main_content %}
  <table border="5">
    <tr align="center">
      <td>
        <button onclick="location.href='/currency/rate/list/';">Rate List</button>
      </td>
    </tr>
    <tr align="center">
      <td>
        <button onclick="location.href='/currency/source/list/';">Source List</button>
      </td>
    </tr>
    <tr align="center">
      <td>
        <button onclick="location.href='/currency/contactus/list/';">ContactUs List</button>
      </td>
    </tr>
  </table>
{% endblock main_content %}
