{% extends 'base.html' %}

{% load pagination %}

{% load crispy_forms_filters %}

{% block main_content %}

<!--<br>-->


<div class="container">
    <div class="row">
        <div class="col">
            <button onclick="location.href='{% url 'currency:rate-create' %}'">Create Rate</button>
            <!--      1 of 3-->
        </div>
        <div class="col">
            <form method="get">
                {{ filter.form|crispy}}
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span> Apply Filters
                </button>
<!--                <button type="reset" class="btn btn-primary">-->
<!--                    <span class="glyphicon glyphicon-search"></span> Reset Filters-->
<!--                </button>-->
            </form>
            <!--      2 of 3-->
        </div>
        <div class="col">
            <!--      3 of 3-->
        </div>
        <div class="col">
            <!--      4 of 3-->
        </div>
    </div>
</div>
<table class="table table-striped" border="3">
    <thead>
    <tr align="center">
        <th scope="col">#</th>
        <th scope="col"> ID</th>
        <th scope="col">Type</th>
        <th scope="col">Sale</th>
        <th scope="col">Buy</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
        <th scope="col">Source</th>
        <th scope="col">Details</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    {%for rate in object_list%}
    <tr align="center">
        <th scope="row">{{forloop.counter}}</th>
        <td scope="row">{{ rate.id }}</td>
        <td scope="row">{{ rate.get_cur_type_display }}</td>
        <td scope="row">{{ rate.sale }}</td>
        <td scope="row">{{ rate.buy }}</td>
        <td scope="row">{{ rate.created }}</td>
        <td scope="row">{{ rate.updated }}</td>
        <td scope="row">{{ rate.bank.name }}</td>

        <td scope="row">
            <button onclick="location.href='{% url 'currency:rate-details' rate.id %}';">Details</button>
        </td>

        <td scope="row">
            <button onclick="location.href='{% url 'currency:rate-update' rate.id %}';">Edit</button>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% if is_paginated %}
{% pagination page_obj %}
{% endif %}
{% endblock main_content %}
