{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col">
            <!--      1 of 2-->
            <h2> ID: {{ form.instance.id}} </h2>
        </div>
        <div class="col">
            <!--      2 of 2-->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{{ source.get_source_logo_url }}" class="rounded mx-auto d-block" width="300" align="left"
                 alt="Cinque Terre"/>
            <!--      1 of 3-->
        </div>
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit">Save</button>
                <br><br>
                <button onclick="location.href='{% url 'currency:source-delete' form.instance.id %}';">Delete</button>
            </form>
        </div>
        <div class="col">
            <!--      3 of 3-->
        </div>
    </div>
</div>

<!--
<a href="/currency/source/delete/{{form.instance.id}}/">Delete</a>
-->

{% endblock main_content %}
