{% extends 'base.html' %}

{% block main_content %}

<table class="table table-striped" border="3">
  <thead>
    <tr align="">
      <th>ID</th>
      <th>Name</th>
      <th>URL</th>
      <th>Phone number</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <td>{{ object.id }}</td>
      <td>{{ object.name }}</td>
      <td>{{ object.url }}</td>
      <td>{{ object.phone }}</td>
      <td>{{ object.created }}</td>
      <td>{{ object.updated }}</td>
    </tr>
  </tbody>
</table>

{% endblock main_content %}
