{% extends 'base.html' %}

{% block main_content %}

<button onclick="location.href='{% url 'currency:source-create' %}';">Create Source</button>
<br>
<table class="table table-striped" border="3">
  <thead>
    <tr align="center">
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
      <th scope="col">Phone number</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
      <th scope="col">Details</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {%for source in object_list%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td scope="row">{{ source.id }}</td>
      <td scope="row">{{ source.name }}</td>
      <td scope="row">{{ source.url }}</td>
      <td scope="row">{{ source.phone }}</td>
      <td scope="row">{{ source.created }}</td>
      <td scope="row">{{ source.updated }}</td>
      <td scope="row"><button onclick="location.href='{% url 'currency:source-details' source.id %}';">Details</button></td>>
      <td scope="row"><button onclick="location.href='{% url 'currency:source-update' source.id %}';">Edit</button></td>>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock main_content %}
