<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="3">
  <thead>
    <tr align="center">
      <th>ID</th>
      <th>Name</th>
      <th>URL</th>
      <th>Phone number</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <td>{{ object.id }}</td>
      <td>{{ object.name }}</td>
      <td>{{ object.url }}</td>
      <td>{{ object.phone }}</td>
      <td>{{ object.created }}</td>
      <td>{{ object.updated }}</td>
    </tr>
  </tbody>
</table>

</body>
</html>