{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block main_content %}
Update My Profile
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <!--      1 of 2-->
            <img src="{{ request.user.get_avatar_url }}" class="rounded mx-auto d-block rounded-circle" width="100"
                 align="left" alt="Cinque Terre"/>

        </div>
        <div class="col">
            <!--      2 of 2-->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit">Save</button>
            </form>
        </div>
        <div class="col">
            <!--      2 of 3-->
        </div>
        <div class="col">
            <!--      3 of 3-->
        </div>
    </div>
</div>

{% endblock main_content %}
